In [1]:
import pandas as pd
from sklearn.tree import DecisionTreeRegressor
import numpy as np
from sklearn.metrics import mean_absolute_error
from sklearn.model_selection import train_test_split

In [2]:
path = "./Dataset/melb_data.csv"
csv = pd.read_csv(path)
csv.head()

,Suburb,Address,Rooms,Type,Price,Method,SellerG,Date,Distance,Postcode,...,Bathroom,Car,Landsize,BuildingArea,YearBuilt,CouncilArea,Lattitude,Longtitude,Regionname,Propertycount
0,Abbotsford,85 Turner St,2,h,1480000.0,S,Biggin,3/12/2016,2.5,3067.0,...,1.0,1.0,202.0,NaN,NaN,Yarra,-37.7996,144.9984,Northern Metropolitan,4019.0
1,Abbotsford,25 Bloomburg St,2,h,1035000.0,S,Biggin,4/02/2016,2.5,3067.0,...,1.0,0.0,156.0,79.0,1900.0,Yarra,-37.8079,144.9934,Northern Metropolitan,4019.0
2,Abbotsford,5 Charles St,3,h,1465000.0,SP,Biggin,4/03/2017,2.5,3067.0,...,2.0,0.0,134.0,150.0,1900.0,Yarra,-37.8093,144.9944,Northern Metropolitan,4019.0
3,Abbotsford,40 Federation La,3,h,850000.0,PI,Biggin,4/03/2017,2.5,3067.0,...,2.0,1.0,94.0,NaN,NaN,Yarra,-37.7969,144.9969,Northern Metropolitan,4019.0
4,Abbotsford,55a Park St,4,h,1600000.0,VB,Nelson,4/06/2016,2.5,3067.0,...,1.0,2.0,120.0,142.0,2014.0,Yarra,-37.8072,144.9941,Northern Metropolitan,4019.0

In [3]:
Y = csv.Price
features = ["Rooms","Bathroom","Landsize","Lattitude","Longtitude"]
X = csv[features]

In [4]:
x_train, x_test, y_train, y_test = train_test_split(X, Y, random_state = 0)

In [5]:
model = DecisionTreeRegressor(random_state=1)
model.fit(x_train,y_train)

DecisionTreeRegressor(random_state=1)

In [6]:
model.predict(X.head())

array([1480000., 1035000., 1465000.,  850000., 1600000.])

In [7]:
# s = {"Rooms":2,"Bathroom":1.0,"Landsize":256.0,"Lattitude":-37.806,"Longtitude":144.9954}
s = {"a" :[2,1.0,256.0,-37.806,144.9954]}
# s.reshape(-1, 1)

In [8]:
d = pd.DataFrame.from_dict(s,orient='index',columns=["Rooms","Bathroom","Landsize","Lattitude","Longtitude"])

In [9]:
d.head()
model.predict(d)

array([1242000.])

In [10]:
predicte_value = model.predict(x_test)

In [11]:
mean_absolute_error(y_test, predicte_value)

252404.90476190476